<p style="color: green"><%= notice %></p>

<% content_for :title, "Bookings" %>

<h1>Bookings</h1>

<div id="bookings">
  <% if @bookings.any? %>
  <% @bookings.each do |booking| %>
    <p>Booking for <%= booking.room.name %> by <%= booking.user.username %></p>
  <% end %>
<% else %>
  <p class="text-gray-500">ยังไม่มีการจองห้องประชุม</p>
<% end %>

</div>

<%= link_to "New booking", new_booking_path %>
